body{
    font-family:"Georgia",serif;
    max-width: 90%;
    background-image:url("https://selfgrowth.info/photos/free-beach-pictures/top-beach-pictures-without-background9270.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@font-face {
    font-family: OpenSans, sans-serif;
    src: url(OpenSans-Light.ttf);
}

p{
    color: darkslategrey;
    font-size: 110%;
    line-height: 110%;
    max-width: 50%;
    margin: auto;
}

.picture{
    width: 50%;
    height: 50%;
    display: block;
    float: left;
    margin: 2%;
}

.author{
    display: block;
    margin-top: 5%;
    margin-bottom:1%
}

.story{
    margin-top: 20%;
}
q{
    display: block;
    text-align: center;
    font-size: 160%;
    background-image: linear-gradient(lightblue, lightyellow);
    border: 3px solid grey;
    border-left: 3px dashed grey;
    padding: 20px 30px 30px;
}

a{
    text-decoration: underline overline;
    font-weight: bold;
}

q.farmer{
    color: deeppink;
    border-left: 3px dashed deeppink;
    margin-outside: 1%;
}

q.villagers{
    color: darkmagenta;
    border-left: 3px dashed darkmagenta;
    margin-top: 1%;
    margin-outside: 1%;
}

H1{
    background-color: lightgoldenrodyellow;
}
.good{
    text-transform: uppercase;
    color: lightseagreen;
}

.bad{
    text-transform: uppercase;
    color: indianred;
}

.grey{
    background-color: grey;
}

.white{
    background-color: white;
}

.first{
    font-weight: bold;
    text-align: center;
}
